<div class="row">
  <div class="col-sm-12 bg-dark">
    <div class="txtSearch m-2">
      <input
        type="text"
        id="txtSearch"
        class="form-control"
        [formControl]="txtSearchControl"
        placeholder="Search by name"
      />
    </div>
  </div>
  <div class="col-sm-12 mt-2">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Full name</th>
          <th scope="col">Genre</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let composer of composers">
          <td scope="row">{{ composer.fullName }}</td>
          <td>{{ composer.genre }}</td>
          <td>
            <a routerLink="/composer-details/{{ composer.composerId }}">{{
              composer.composerId
            }}</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
