<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img
          src="../assets/nasa-Q1p7bh3SHj8-unsplash.jpg"
          style="max-width: 500px"
        />
      </div>
      <div>
        <em>
          Photo by NASA on
          <a
            class="attribution-link"
            href="https://unsplash.com/photos/Q1p7bh3SHj8"
            target="_blank"
            >Unsplash</a
          >
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who was Aldous Huxley?</h1>
    <p>
      Aldous Huxley was an English literary author (1984-1963) whose works are
      notable for their wit and pessimistic satire. He remains best known for
      one novel, Brave New World (1932), a model for much dystopian science
      fiction that followed. Apart from writing novels, he also wrote a few
      travel books, poems, plays and several essays on religion, art and
      sociology. He devoted himself largely to his own writing and spent much of
      his time in Italy until the late 1930s, when he settled in California. The
      author’s lifelong preoccupation with the negative and positive impacts of
      science and technology on 20th-century life, expressed most forcefully in
      Brave New World but also in one of his last essays, written for
      Encyclopædia Britannica’s 1963 volume of The Great Ideas Today, about the
      conquest of space, make him one of the representative writers and
      intellectuals of that century.
    </p>
  </div>
</div>
